h1 #{__i('Add Folder')}

form(method="post", action=basepath + "/createFolder")
  p
    label #{__i('Name:')}
    input(name="name", value=formval.foldername)
  p
    label #{__i('Public:')}
    input(type="checkbox", name="public", value="t", checked=formval.pub)
  p
    input(type="submit", value=__i('Add Folder'))
