extends layout

block main
  h1 #{__i('Folders')}

  include includes/toolbox

  p
    a(href=basepath + "/createFolder") #{__i('Add new Folder')}

  ul.folders
    - each folder in folders
      li(class=folder.type)
        a(href=basepath + "/folder/" + folder.name)= folder.name
        a(href=basepath + "/recentchanges/" + folder.name).recentchanges [#{__i('Recent changes')}]
