doctype html
html(lang="en")
  head
    title= __i('SparkleShare Dashboard')
    meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="pragma", content="no-cache")
    meta(http-equiv="cache-control", content="no-cache")
    meta(http-equiv="expires", content="-1")
    link(rel='stylesheet', href=basepath + '/stylesheets/reset.css')
    link(rel='stylesheet', href=basepath + '/stylesheets/style.css')
    link(rel='shortcut icon', href=basepath + '/images/favicon.png', type='image/png')
    link(rel='apple-touch-icon', href=basepath + '/images/apple-touch-icon.png', type='image/png')
    script(type='text/javascript', src=basepath + '/javascripts/jquery-1.6.2.min.js')
  body
    #outerwrapper
      include includes/header
      #wrapper
        #content
          - var flash = locals.flash()
          each flashType in ['info','warn','error']
            if flash[flashType] && flash[flashType].length
              p.flash(class=flashType)
                = flash[flashType]
          != body
          block main
        include includes/footer
