extends layout

block main
  h1 #{__i('Link with your mobile SparkleShare device')}

  script(type="text/javascript", src=basepath + "/javascripts/qrcode.js")
  script(type="text/javascript", src=basepath + "/javascripts/qrcanvas.js")

  p
    strong #{__i('URL:')} 
    #{url}

  p
    strong #{__i('Link code:')} 
    span#linkcode

  #qrpart
    #qrborder
      #linkqr

    p
      | #{__i('New code will be generated in')}
      span#timeleft 0
      | #{__i('seconds')}.

  script(type="text/javascript" src="javascripts/linkDevice.js")
